{% extends 'blog1/osnova.html' %}
{%block title%}OBRISI POST{%endblock%}
{% block content %}
{% if user.is_authenticated %}
{% if user.id == object.autor.id %}
<div class="container" align="center">
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <h3>DA LI STE SIGURNI? OVA OPERACIJA SE NE MOZE OPOZVATI!</h3><br/>
        <a href="{% url 'pocetna' %}" class="btn btn-warning">ODUSTANI</a>
        <button class="btn btn-danger">OBRISI</button>

    </form>
</div>
    {%else%}
    <h1>{{user.id}}, {{object.autor.id}}</h1>
    <h1>Samo autor posta moze izvrsiti brisanje! Pristup odbijen!</h1>
    {%endif%}
    <div class="container" align="center">

{%else%}
        <h1>MORATE BITI PRIJAVLJENI NA SISTEM</h1>
{%endif%}

{%endblock%}